body {
    background-color:#f0f4f5;       
}

h1 {
    color: grey;
    font-size: 4em;
    border: 1px solid black double;
    margin: 0%;
    box-shadow: 6px 6px 6px grey;
    padding: 15px;
    font-family: "roboto";     
}

h2 {
    color: rgb(54, 53, 53);
    font-size: 2em;
    font-family: "roboto";
    text-align: right;
    padding : 0px;
}

#chatbox {
    width: 70%;
    height: 550px; 
    margin: auto; 
    border-style: double;
    text-align: justify;
    padding: 12px;
    /* margin-bottom: 20px; */
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    object-fit: contain;
    background-color: grey;
    border-radius: 15px; 
    /* position: absolute; */
    z-index: 2;    
    left: 15%;
    
}

#conteneur{
    display: flex;    
    align-items: flex-start;
    padding: 10px;
}

#footer{
    display: flex;
    justify-content: center;
    background-color: grey;
    color: white;
    margin-top: 120px;       
}

@font-face {
    font-family: 'roboto';
    src: url(/static/fonts/robo.woff2);
    font-weight: normal;
    font-style: normal;
}

.display_question {
    margin: 10px;    
    background-color: #87CEFA;
    align-self: flex-start;
    padding: 10px;
    border-radius: 15px;
}

.small_text {
    margin-left: 28%;
}

#btn {
    width: 18%;
    font-family: 'roboto';
    box-shadow: 2px 2px 2px grey;    
}

#btn:hover {
    color: white;
    background-color: grey;
}

#question {
    width: 50%;
}

#questionary {    
    text-align: center;
    margin-top: 15px ;    
}

#img {
    border-radius: 15px;    
    outline: 2px solid #87CEFA,
}

#wiki_img {
    height: 350px;
    filter: sepia(100%);
    border-radius: 15px;
    margin-right: 10px;
}

.wikidata{
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(173, 173, 169, 0.973);
    color: beige;
    border: #87CEFA 2px;
}

.pictures{
    display: flex;
    justify-content: space-between;
}

.gears {    
    width: 550px;
    margin-bottom: -160px;
    margin-right: 8%;      
}
 
.huge {  
    width: 120px;
    height: 120px;
    margin-top: -7px;
    margin-left: 70%;
    filter: invert(50%);     
}
 
.big {
    width: 100px;
    height: 100px;
    margin-left: -6px;
    filter: invert(25%);    
}
 
.medium {
    width: 85px;
    height: 85px;
    margin-left: -6px;
    filter: invert(55%);    
}
 
.small {
    width: 70px;
    height: 70px;
    margin-left: -6px;
    filter: invert(70%);   
}
 
@keyframes rotate {
    0% { transform: rotate(0);}
    100% { transform: rotate(180deg);}
}

@keyframes reverseRotate {
    0% { transform: rotate(180deg);}
    100% { transform: rotate(0);}
}

.overlay {    
    display: flex; 
    justify-content: flex-end;
    margin-top: -70px;
}
.rotate {
    transform-origin: center;
    animation: rotate 1.5s linear infinite
}

.reverseRotate {
    transform-origin: center;   
    animation: reverseRotate 2s linear infinite;
}

#waitScreen {
    position:absolute;
    display: none;
    background: rgba(255,255,255,0.85); 
    width: 70%;
    z-index: 1000;
    border-radius: 15px;
    left: 15%;
    height: 550px;
    top: 15px;
    
}

#parent {
    position: relative;
}

.robot{
    width:500px;
    height:500px;
    right: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
